<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjxls.todo.mapper.TodoInfoMapper">
    
    <resultMap type="TodoInfo" id="TodoInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="groupId"    column="group_id"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectTodoInfoVo">
        select id, name, group_id, status, del_flag, create_time, update_time, remark, user_id, type from todo_info
    </sql>

    <select id="selectTodoInfoList" parameterType="TodoInfo" resultMap="TodoInfoResult">
        <include refid="selectTodoInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectTodoInfoById" parameterType="Long" resultMap="TodoInfoResult">
        <include refid="selectTodoInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTodoInfo" parameterType="TodoInfo" useGeneratedKeys="true" keyProperty="id">
        insert into todo_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="groupId != null">group_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateTodoInfo" parameterType="TodoInfo">
        update todo_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTodoInfoById" parameterType="Long">
        delete from todo_info where id = #{id}
    </delete>

    <delete id="deleteTodoInfoByIds" parameterType="String">
        delete from todo_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>